/* Grid */
.container {
  background-color: #f4decb;
  display: grid;
  width: 90%;
  margin:auto;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;

  grid-template-areas:
  "header header header"
  "main main ."
  "footer footer footer";
}

header {
    display: flex;
    background-color: #94618E;
    grid-area: header;
}

main {
  grid-area: main;
  border: 8px solid red;
}

footer {
  grid-area: footer;
  border: 3px dashed yellowgreen;
}

nav ul {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #f4decb;
  }

  li a:active {
    background-color: #49274A;
    color: white;
  }

main section {
    margin-bottom: 20px;
    padding: 10px;
    height: 300px;
    background-color: #49274A;
    color: #f8eee7;
}

section {
    display: block;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.about .float-right {
    float: right;
    margin-left: 25px;
}



