/* 
font-family: 'Anton', sans-serif;
font-family: 'Creepster', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Monoton', cursive; 
font-family: 'Seymour One', sans-serif;
font-family: 'Sigmar One', cursive;
*/

:root {
--light: #93a3b1;
--medium: #7c898b;
--dark: #636564;
--darker: #4c443c;
--darkest: #322214; 
}

html {
  scroll-behavior: smooth;
  background-color: var(--darker);
}


/* Grid */
.container {
  display: grid;
  width: 90%;
  margin:auto;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;

  grid-template-areas:
  "header header header"
  "main main ."
  "footer footer footer";
}

header {
    /* display: flex; */
    background-color: var(--darker);
    grid-area: header;
}

header h1 {
  font-family: 'Anton', cursive; 
  font-size: 100px;
  font-stretch: expanded;
  padding: 15px;
  margin: 15px;
  }

  header h1 span {
    color: var(--medium);
  }

main {
  grid-area: main;
  /* border: 8px solid red; */
}

main section {
  margin: 55px;
}

#about img {
  border-radius: 15px 50px;
}

footer {
  grid-area: footer;
  /* border: 3px dashed yellowgreen; */
}

nav ul {
    color: black;
    padding: 14px 20px;
    text-align: center;
  }

nav ul li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

@media (max-width: 14000px) {
  nav ul li {
    display: inline-block;
  }    
}

@media screen and (max-width: 750px) {
  nav ul li {
    display: block;
  }

  header h1 {
    font-size: 75px;
  }

  #about img {
    width:200px;;
  }
}

  li a:hover {
    background-color: var(--medium);
  }

  li a:active {
    background-color: #49274A;
    color: white;
  }

main section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--darkest);
    color: var(--medium);
    border-radius: 15px 50px;
}

.about-flex-container{
  display: flex;
  justify-content: space-evenly;
}

.about-flex-container p {
  display: flex;
  align-items: center;
  padding: 5%;
}


.work-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-flex-container {
  background-color: var(--darker);
  display:flex;
  flex-direction: column;
  max-width: min-content;
  padding: 20px;
  margin:20px;
}

section h2 {
  text-align: center;
  color: var(--medium);
  background-color: var(--darkest);
  font-family: 'Anton', sans-serif;
  font-size: 35px;;
  display: flex;
  width: fit-content;
  margin-top: -50px;
  margin-left:auto;
  margin-right:auto;
  padding: 25px;
  border-radius: 15px 50px;
}


p {
  width:100%;
}



