/* 
font-family: 'Anton', sans-serif;
font-family: 'Creepster', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Monoton', cursive; 
font-family: 'Seymour One', sans-serif;
font-family: 'Sigmar One', cursive;
*/

:root {
--light: #93a3b1;
--medium: #7c898b;
--dark: #636564;
--darker: #4c443c;
--darkest: #322214; 
}

html {
  scroll-behavior: smooth;
}


/* Grid */
.container {
  display: grid;
  width: 90%;
  margin:auto;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;

  grid-template-areas:
  "header header header"
  "main main ."
  "footer footer footer";
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--darker);
    grid-area: header;
    height: 350px;
    margin-bottom: 80px;
    background: url("./img/crankset.jpg") no-repeat 75%;
    background-size: cover;
}

header h1 {
  font-family: 'Anton', cursive; 
  font-size: 100px;
  font-stretch: expanded;
  padding: 15px;
  margin-top: auto;
  text-align: center;
  text-shadow: 0.01em 0 var(--light), 0 0.01em var(--light);
  }

header h1 span {
color: var(--medium);
text-shadow: 0.01em 0 black, 0 0.01em black;
}

#about img {
  border-radius: 15px 50px;
}

footer {
  grid-area: footer;
  /* border: 3px dashed yellowgreen; */
}

nav ul {
    color: black;
    padding: 14px 20px;
    text-align: center;
    width: fit-content;
    margin:auto;
  }

nav ul li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  fill-opacity: 20%;
  background-color: var(--light);
}

@media (max-width: 14000px) {
  nav ul li {
    display: inline-block;
  }    
}

@media screen and (max-width: 750px) {
  nav ul li {
    display: block;
    margin: 2px;
  }
}

header h1 {
  font-size: 75px;
}

#about img {
  width:200px;;
}

li a:hover {
  background-color: var(--dark);
}

li a:active {
  background-color: #49274A;
  color: white;
}

main section {
    margin-bottom: 55px;
    padding: 10px;
    background-color: var(--darkest);
    color: var(--medium);
    border-radius: 15px 50px;
}

#empty-work, #empty-about, #empty-contact-info {
  background-color: white;
  margin-bottom: 25px;
}

.about-flex-container{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
  padding-left: 25px;;
}

.about-flex-container p {
  display: flex;
  align-items: center;
  padding: 5%;
}

.work-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-flex-container {
  background-color: var(--darker);
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: min-content;
  margin: 3%;
  align-items: center;
  border-radius: 15px 50px;
  overflow: hidden;
}

.project-flex-container:hover {
  border-radius: 30px;
}

.project-flex-container img {
  width:300px;
  height: 300px;
}

section h2 {
  text-align: center;
  color: var(--medium);
  background-color: var(--darkest);
  font-family: 'Anton', sans-serif;
  font-size: 35px;;
  display: flex;
  width: fit-content;
  margin-top: -50px;
  margin-left:auto;
  margin-right:auto;
  padding: 25px;
  border-radius: 15px 50px;
}

p {
  padding: 2%;
  margin: auto;
}

footer {
font-family: 'Creepster', cursive;
margin: auto;
padding-bottom: 20px;
}



